<template name="dragHandleIcon">
  <i class="icon">
    <svg width="9" height="14" viewBox="0 0 9 14" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M2.8 1.4C2.8 2.1732 2.1732 2.8 1.4 2.8C0.626801 2.8 0 2.1732 0 1.4C0 0.626801 0.626801 0 1.4 0C2.1732 0 2.8 0.626801 2.8 1.4Z" />
      <path
        d="M2.8 7C2.8 7.7732 2.1732 8.4 1.4 8.4C0.626801 8.4 0 7.7732 0 7C0 6.2268 0.626801 5.6 1.4 5.6C2.1732 5.6 2.8 6.2268 2.8 7Z" />
      <path
        d="M2.8 12.6C2.8 13.3732 2.1732 14 1.4 14C0.626801 14 0 13.3732 0 12.6C0 11.8268 0.626801 11.2 1.4 11.2C2.1732 11.2 2.8 11.8268 2.8 12.6Z" />
      <path
        d="M8.4 12.6C8.4 13.3732 7.7732 14 7 14C6.2268 14 5.6 13.3732 5.6 12.6C5.6 11.8268 6.2268 11.2 7 11.2C7.7732 11.2 8.4 11.8268 8.4 12.6Z" />
      <path
        d="M8.4 7C8.4 7.7732 7.7732 8.4 7 8.4C6.2268 8.4 5.6 7.7732 5.6 7C5.6 6.2268 6.2268 5.6 7 5.6C7.7732 5.6 8.4 6.2268 8.4 7Z" />
      <path
        d="M8.4 1.4C8.4 2.1732 7.7732 2.8 7 2.8C6.2268 2.8 5.6 2.1732 5.6 1.4C5.6 0.626801 6.2268 0 7 0C7.7732 0 8.4 0.626801 8.4 1.4Z" />
    </svg>
  </i>
</template>
